<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag "carousel/1.jpg", style: "height: 400px" %>
    </div>
    <div class="item">
      <%= image_tag "carousel/2.jpg", style: "height: 400px" %>
    </div>
    <div class="item">
      <%= image_tag "carousel/3.jpg", style: "height: 400px" %>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<!-- END CAROUSEL -->

<div class="row">
  <hr class="page-divider">
</div>

<div class="row">

  <% @items.each do |i| %>
  <div class="col-lg-4 hover">
  <% artist_id = i.artist_id %>
  <%= link_to artist_item_path(artist_id, i) do %>
  <div class="img-thumb">
    <%= image_tag("#{i.url}") %>
    </div>
  <div class="color-overlay">
    <div class = "details-overlay"><%= i.title %></div>
    </div>
    </div>
  <% end %>
  <% end %>

</div>


  <hr>

  <h1>One Application</h1>


  <%= link_to "Log Out Using Devise", destroy_deviseuser_session_path, method: :delete %> <br>
  <%= link_to "Log In Using Devise", new_deviseuser_session_path %> <br>
  <%= link_to "sign up using devise", new_deviseuser_registration_path %> <br>
  <%= link_to "invite someone", new_deviseuser_invitation_path %> <br>




  <hr>

<%= link_to "List of Artists", artists_path %> <br>
<%= link_to "Paintings", category_items_path(1) %> <br>
<%= link_to "Sculptures", category_items_path(2) %> <br>
<%= link_to "Photos", category_items_path(3) %> <br>
<%= link_to "Purchased Products", purchased_path %> <br>
<%= link_to "Shopping Cart", reservation_path %> <br>

<hr>

<li><h3>Must Have</h3></li>
<li>invitations trought email - <b> Nick</b></li>
<li>Log doesn't show User's name - Nick</li>
<li></li>
<li>Styling - <b>Cynthia</b></li>
<li>Shopping cart mockup and Styling - Cynthia</li>
<li></li>
<li>Inventory - <b>Camilo</b></li>
<li>Shopping Cart view - Camilo</li>
<li>Customize reservation message - Camilo</li>
<li>Search Fucntionality</li>
<li></li>
<li>Like and Share - Christine</li>
<li>Share Stripe - Christine</li>
<li></li>
<li><h3>Nice to have</h3></li>
<li>Bid - <b>Camilo</b></li>
<li>Admin</li>
<li>Forum</li>



