
<h1>One Application</h1>



<%= link_to "Log Out Using Devise", destroy_deviseuser_session_path, method: :delete %> <br>
<%= link_to "Log In Using Devise", new_deviseuser_session_path %> <br>
<%= link_to "sign up using devise", new_deviseuser_registration_path %> <br>








<hr>

<%= link_to "List of Artists", artists_path %> <br>
<%= link_to "Paintings", category_items_path(1) %> <br>
<%= link_to "Sculptures", category_items_path(2) %> <br>
<%= link_to "Photos", category_items_path(3) %> <br>


<hr>




<li><h3>Must Have</h3></li>
<li>invitations trought email - <b> Nick</b></li>
<li>Search Fucntionality</li>
<li>Styling - <b>Cynthia</b></li>
<li>Inventory - <b>Camilo</b></li>
<li>Like and Share - Christine</li>
<li><h3>Nice to have</h3></li>
<li>Bid - <b>Camilo</b></li>
<li>Admin</li>
<li>Forum</li>



