<h1>Main index</h1>


<% unless session[:user_id]%>



<%= form_tag(login_path) do %>
   <%= label_tag(:email)%>
   <%= text_field_tag(:email)%>  
   <%= label_tag(:password)%>
   <%= password_field_tag(:password)%>
   <%= submit_tag("Log in", class: "btn btn-primary") %>
<% end %>

<%= link_to "Don't have an account? Sign up here", signup_path %>
<br>
<% end %>

<% if session[:user_id] %>
<h3>Welcome Back <%= session[:first_name] %></h3>
<%= link_to "Log Out" , logout_path, method: "delete"%> 
<% end %>

