<%= render "partials/header" %>

<h1>One Application</h1>




<% unless session[:user_id]%>



<%= form_tag(login_path) do %>
   <%= label_tag(:email)%>
   <%= text_field_tag(:email)%>  
   <%= label_tag(:password)%>
   <%= password_field_tag(:password)%>
   <%= submit_tag("Log in", class: "btn btn-primary") %>
<% end %>

<%= link_to "Don't have an account? Sign up here", signup_path %>
<br>
<% end %>

<% if session[:user_id] %>
<h3>Welcome <%= session[:first_name] %></h3>



<hr>

<%= link_to "List of Artists", artists_path %> <br>
<%= link_to "Paintings", category_items_path(1) %> <br>
<%= link_to "Sculptures", category_items_path(2) %> <br>
<%= link_to "Photos", category_items_path(3) %> <br>



<hr>




<li>Upload Images - <b>Nick</b></li>
<li>invitations trought email - <b> Nick</b></li>
<li>Styling - <b>Cynthia</b></li>
<li>Bid - <b>Camilo</b></li>
<li>Inventory - <b>Camilo</b></li>

<li>Foxycart Styling</li>
<li>Admin</li>
<li>Shopping Cart</li>
<li>Forum</li>
<li>stripe</li>

<li>Bid For Original piece and Shopping cart for several</li>




<%= link_to "Log Out" , logout_path, method: "delete"%> 
<% end %>

<%= render "partials/footer" %>
