<h1>Main#signup</h1>



<%= simple_form_for(@user, url: signup_path) do |f| %>
<%= f.input(:first_name) %>
<%= f.input(:last_name) %>
<%= f.input(:email) %>
<%= f.input(:password) %>
<%= f.submit(:submit) %>
<% end %>


<br>
<%= link_to "Go back", '/' %>

