
<h1>Artists#index</h1>
<p>Find me in app/views/artists/index.html.erb</p>

<div class="row">
  <div class="col-lg-4">
   <% @current_letter = @artist.first_name[0] %>
  <h1 class="artist-az"><%= "#{@current_letter}" %></h1>
    <% @artists.each do |a| %>
      <% if @artist.first_name[0] != @current_letter %>
        </div>
        <div class="col-lg-4">
        <h1 class="artist-az"><%= "#{@current_letter}" %></h1>
        <p><%= link_to "#{a.first_name} #{a.last_name}", artist_items_path(a) %></p>

        
      <% else %>
        <p><%= link_to "#{a.first_name} #{a.last_name}", artist_items_path(a) %></p>
      <% end %>
    <% end %>
  </div>
</div>

<%= link_to "Home", root_path %>

