<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>

  <!-- LINKED CSS FILES -->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

<script type="text/javascript" src="https://js.stripe.com/v2/"></script>


</head>
<body>

<!-- TOP NAV -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="container">


       <ul class="nav navbar-nav navbar-right">

        <% if deviseuser_signed_in? %>
        <li class="navbar-text">
          Welcome, <%= current_deviseuser[:email] %>
        </li>
        <li><%= link_to "Likes", likes_path %></li>
        <li>
        <%= link_to "Log Out", destroy_deviseuser_session_path, method: :delete %>
        </li>
        <% else %>
        <li>
        <%= link_to "Log In", new_deviseuser_session_path %>
        </li>
        <% end %>

      </ul>
    </div>
    </div>
  </div>
</nav>

<!-- Login Flash Messages -->
<% flash.each do |key, value| %>
 <% if key == "notice" %>
   <%= content_tag :div, value, class: "text-center alert alert-warning" %>
 <% elsif key == "alert" %>
   <%= content_tag :div, value, class: "text-center alert alert-danger" %>
 <% else %>
   <%= content_tag :div, value, class: "text-center alert alert-success" %>
 <% end %>
<% end %>
<!-- END TOP NAV -->

<!-- HEADER -->
<div class="container">
  <div class="row">
    <div class="col-lg-4 col-lg-offset-4">
      <%= link_to root_path do %>
      <p class="text-center logo">ONE</p>
      <% end %>
    </div>
  </div>

  <div class="row">
  <div class="col-lg-4 col-lg-offset-4">
  <center>
  <ul class="nav nav-pills text-center">
    <li role="presentation" id= "navigation" class="<%= is_active?(root_path) %>"> <%= link_to "Home", root_path %></li>
    <li role="presentation" id= "navigation" class="<%= is_active?(categories_path)%>"  style="margin-left:18px"><%= link_to "Artwork", categories_path %></li>
    <li role="presentation" id= "navigation" class="<%= is_active?(artists_path)%>" style="margin-right:3px"><%= link_to "Artists", artists_path %></li>



  </ul>
  </center>
  </div>
  </div>
</div>
<!-- END HEADER -->

<div class="container content">
<div class="row col-lg-10 col-lg-offset-1 ">

