
<h3>Shopping Cart</h3>
<% @total = 0 %>


<%   @ReservedItems.each do |item| %>
   <!-- <h3><%= item.title %></h3> -->
   <div class="col-lg-6 camilo">
    <%= image_tag("#{item.url}", class: "img-responsive") %>
  </div>
   <div class="col-lg-6 ">
      <p><strong>Description</strong></p>
      <p><%= item.dimensions %></p>
      <p><strong>$<%= item.price %></strong></p>
      <%= item.title %>
      <%   @total += item.price %>
      <% @user = item.user_id %>
      <% @item = item %>  
      <%= button_to(name = "Delete from Cart", reservation_delete_path(@item), method: :delete) %>
      
   </div>
  <hr>
<% end %>
  

<hr>

<% if @total > 0 %>
<%= form_tag payment_path(@user) do %>
   <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-image="http://i.imgur.com/sT8merj.jpg"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-name="Buying From ONE"
            data-description=""
            data-allow-remember-me
            data-amount="<%= @total * 100 %>"
            data-billingAddress="true"
            data-shippingAddress="true"
   ></script> 
   <% end %>
<% end %>



