  <div class="row">
    <div class="col-lg-6">
    <!-- @artist.url -->
      <img src="placeholder.jpg" style="border: 1px solid; width:390px; height:200px" class="img-responsive">
    </div>
    <div class="col-lg-6">
      <h1> <%= "#{@artist.first_name} #{@artist.last_name}" %> </h1>

      <p>
        <%= @artist.artist_description %>
      </p>
    </div>
  </div>

<div class="row">
  <hr class="page-divider">
</div>

<div class="row">
  <% @items.each do |i| %>
  <div class="col-lg-6 hover">
    <%= link_to artist_item_path(@artist, i) do %>
      <%= image_tag("#{i.url}", class: "img-responsive") %>
       <div class="color-overlay">
          <div class = "details-overlay"><%= i.title %></div>
       </div>
    </div>
    <% end %>
  </div>
  <% end %>
</div>
