  <div class="row">

    <div class="col-lg-6">
    <!-- @artist.url -->
      <%= image_tag("#{@artist.url}", class: "img-responsive")%>
    </div>
    <div class="col-lg-6">
      <h1> <%= "#{@artist.first_name} #{@artist.last_name}" %> </h1>

      <p>
        <%= @artist.artist_description %>
      </p>
    </div>

  </div>

<div class="row">
  <hr class="page-divider" text-insert="Artwork by Artist">
</div>



<div class="row">
  <% @items.each do |i| %>
  <div class="col-lg-4 hover">
    <%= link_to artist_item_path(@artist, i) do %>
      <div class="img-thumb">
        <%= image_tag("#{i.url}") %>
      </div>
       <div class="color-overlay">
          <div class = "details-overlay"><%= i.title %></div>
       </div>
    <% end %>
    </div>
  <% end %>

</div>





