<h1><%= @item.title %></h1>
<h3><%= "#{@artist.first_name} #{@artist.last_name} / #{@category.category_name}" %></h3>

<div class="row">
  <div class="col-lg-8">
    <%= image_tag("#{@item.url}", class: "img-responsive") %>
  </div>

  <div class="col-lg-4">
    <p><strong>Description</strong></p>
    <p><%= @item.dimensions %></p>
    <p><strong>$<%= @item.price %></strong></p>
  <% if user = current_deviseuser %>
    <p> <% if @item.reservation_time.nil? && @item.purchased_date.nil?%>
         <%= form_for reserve_path(@item,@item) do |f| %>
         <%= f.submit "Add to cart", class: "btn btn-default" %>
         <% end %>
      <% else %>
         <h4>Item already Reserved</h4>
    <% end %>

    </p>

    <p><%= link_to "+ Collect", like_path(@item), method: :post, class: "btn btn-default btn-link" %></p>
    <% end %>

  </div>
</div>


<div class="row">
  <hr class="page-divider">
</div>


<div class="row">
  <% @artist.items.each do |i| %>
  <div class="col-lg-4 hover">
    <%= link_to artist_item_path(@artist, i) do %>
    <div class="img-thumb">
      <%= image_tag("#{i.url}") %>
    </div>
    <div class="color-overlay">
      <div class = "details-overlay"><%= i.title %></div>
    </div>
  </div>
  <% end %>
<% end %>
</div>
