
<%= @item.title %>
<%= @item.dimensions %>
<%= @item.medium %>
<%= @item.price %>
<%= image_tag("#{@item.url}") %>



<br>

<hr>

<% if @item.reservation_time.nil?%>
   <%= form_for reserve_path(@item,@item) do |f| %>
   <%= f.submit "Reserve" %>
   <% end %>
<% else %>
   <%= @item.reservation_time.hour  %>:<%= @item.reservation_time.min  %>:<%= @item.reservation_time.sec  %> <br>
   <%= Time.now.hour %>:<%= Time.now.min %>:<%= Time.now.sec %>   
   <h3>Item already Reserved - Camilo: customize text by user</h3>
<% end %>


<%= link_to "Home", root_path %>