
<%= @item.title %>
<%= @item.dimensions %>
<%= @item.medium %>
<%= @item.price %>
<br>
<%= link_to "Home", root_path %>


<br><hr>
<%= t1 = @item.created_at %> <br>
<%=  t2 = Time.now %> <br>
<% time = t2 - t1 %>
<%= a = time %> <br>

   <% a = Time.at(a) %>
   <%= a.min %> sec <%= a.sec %>
<% if a.min == 20 %>
   <%= "YA" %>
<% end %>

<br><br><br><hr>

<%= link_to "Buy this Item!", new_item_charge_path(@item) %>
<!--
<form action="" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_CeLuZf80o91uhYvVw7mj2Hpq"
    data-amount="1000"
    data-name="Demo Site"
    data-description="2 widgets ($20.00)"
    data-image="/128x128.png">
  </script>
</form> -->